body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: header;
    font-size: 25px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header'
        'left right';

}

.left  {
    grid-area: left;
    width: 20vw;
    height: 100vh;
    border: 5px solid grey;
}

.toc {
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right {
    grid-area: right;
    height: 100vh;
    border: 5px solid grey;
}
